h1 {
  color: #81c408;
}
.nav-item {
  color: #81c408;
}
li {
  color: rgba(0, 0, 0, 0.55);
  &:hover {
    color: #81c408;
  }
}
.item:hover {
  color: #81c408;
}
svg {
  width: 24px;
  height: 24px;
}
.btn-login {
  border-color: #81c408;
  &:hover {
    background: #81c408;
    color: white;
    border-color: #ffb524;
  }
}
.active {
  color: #81c408;
}
