.ant {
  &-form-item {
    &-control-input {
      min-height: none;
    }
    margin-bottom: 15px !important;
    &-explain-error {
      margin: 8px;
    }
  }
  &-input {
    &-outlined:hover {
      border-color: green !important;
    }
  }
  &-btn {
    border-radius: 18px !important;
    height: 2.5rem;
    &:hover {
      background: green !important;
      color: white !important;
      border-color: green !important;
    }
  }
  &-checkbox-wrapper {
    padding-left: 20px;
  }
}

.login-form-button {
  background: green;
}
