.ant {
  &-form-item {
    &-control-input {
      min-height: none;
    }
    margin-bottom: 15px !important;
  }
  &-input {
    &-affix-wrapper {
      border-radius: 18px !important;
      height: 2.5rem;
    }
    &-outlined:hover {
      border-color: green !important;
    }
  }
  &-btn {
    border-radius: 18px !important;
    height: 2.5rem;
  }
}
